\documentclass[10pt,a4paper,sans]{moderncv}

% Style and color options
\moderncvstyle{banking}       % Options: 'casual', 'classic', 'oldstyle', 'banking', 'fancy'
\moderncvcolor{black}          % Options: 'blue', 'orange', 'green', 'red', 'purple', 'grey', 'black'

% Encoding & geometry
\usepackage[utf8]{inputenc}
\usepackage[scale=0.9]{geometry}

% Personal info
\name{ {{ personal.firstName }} }{ {{ personal.lastName }} }
\title{ {{ personal.jobTitle }} }
\address{ {{personal.postCode}} }{ {{personal.city}} ,{{personal.country}}}
\phone[mobile]{ {{personal.phoneNumber}} }
\email{ {{personal.email}} }
\social[github]{ {{personal.github}} }

% Begin document
\begin{document}
\makecvtitle

% Summary
\section{Summary}
{{ summary.text }}


{% for section_name, section in sections.items() %}
\section{ {{section_name}} }
    {% for _, entry in section.items() %}
        \cventry{ {{ entry.date }} }{ {{ entry.title }} }{ {{entry.subtitle}} }{}{}{ 
            {% if entry.text %}
                {{ entry.text }}
            {% endif %}
            {% if entry.bullets %}
                {% for bullet in entry.bullets %}
                    \item {{ bullet }}
                {% endfor %}
            {% endif %} 
        }
    {% endfor %}
{% endfor %}

% Languages
\section{Languages}
\cvitemwithcomment{English}{Fluent}{Cambridge C1}

\end{document}
